        <div class="courts_main row m-0 p-0">
            <div class = "courts_card p-0"> 
                <div class = "courts_banner row m-0 p-0">
                    <div id = "title">
                        <h1>
                            ΓΗΠΕΔΑ
                        </h1>
                        <h4>
                            Γήπεδα Τένις ┃ VILLIA TENNIS CLUB
                        </h4>
                    </div>
                </div>
                <div class = "courts_info row p-0 m-0">
                    <div class = "info_card row p-0 m-0">
                        <div id="prologue">
                            <div class="info_banner row m-0">
                                <h4>Λίγα λόγια για τα γήπεδά μας...</h4>
                            </div>
                            <div class="info_row row m-0 p-0">
                                <p class = "text row">
                                    Το club μας διαθέτει εφτά γήπεδα διαφόρων ειδών, για κάθε προτίμηση, εκ των οποίων τα τέσσερα διατίθενται για κράτηση και χρήση από επισκέπτες. 
                                    Κατά την κράτηση, ανάλογα με τη διαθεσιμότητα, δίνεται η δυνατότητα επιλογής του επιθυμητού είδους γηπέδου. Στην περίπτωση που δεν γνωρίζετε πιο
                                    είναι το κατάλληλο γήπεδο για εσάς, ακολουθούν κάποιες γενικές πληροφορίες.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class = "info_card row p-0 m-0">
                        <div id="hard_courts">
                            <div class="info_banner row m-0">
                                <h4>Σκληρά γήπεδα</h4>
                            </div>
                            <div class="info_row row m-0 p-0"><img src = "imgs/courtsPage/hard-tennis-court.jpg"></div>
                            <div class="info_row row m-0 p-0">
                                <p class = "text row">
                                    Τα σκληρά γήπεδα είναι ένας από τους κύριους τύπους γηπέδων που βρίσκονται συνήθως στα πάρκα, κέντρα αναψυχής, συλλόγους και σχολεία. Αποτελείται από διάφορα μείγματα, όπως
                                    άσφαλτο και σκυρόδεμα. Τα σκληρά γήπεδα περιέχουν επίσης ακρυλικό επιφανειακό στρώμα (όπως χρώμα ή επίστρωση), προκειμένου να σφραγιστεί η επιφάνεια και να δημιουργηθεί
                                    έτσι ένα επίπεδο απορρόφησης κραδασμών. Τα γήπεδα σκληρής επιφάνειας έχουν χαμηλότερη απορρόφηση ενέργειας από τα χωμάτινα γήπεδα, ώστε η μπάλα του τένις να αναπηδά ψηλότερα
                                    και να κινείται πιο γρήγορα, γεγονός που τα καθιστά ιδανικά για τους περισσότερους τύπους παικτών τένις. Ο τύπος αυτός των σκληρών γηπέδων τένις αποτελεί έναν τυπο γηπέδων που
                                    χρησιμοποιείται συνήθως στις μεγάλες διοργανώσεις, όπως είναι το US Open και το Australian Open, καθώς είναι τα μόνα τουρνουά Grand Slam που χρησιμοποιούν σκληρό γήπεδο.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class = "info_card row p-0 m-0">
                        <div id="clay_courts">
                            <div class="info_banner row m-0">
                                <h4>Χωμάτινα γήπεδα</h4>
                            </div>
                            <div class="info_row row m-0 p-0"><img src = "imgs/courtsPage/clay-tennis-court.jpg"></div>
                            <div class="info_row row m-0 p-0">
                                <p class = "text row">
                                    Υπάρχουν δύο διαφορετικά είδη χωμάτινων γηπέδων: Το γήπεδο κόκκινου πηλού, ένα χονδροειδές μείγμα από τούβλα, και το γήπεδο από πράσινο πηλό, από θρυμματισμένο μεταβασάλτη, γνωστό
                                    και ως Har-Tru. Αυτά τα υλικά στεγνώνουν πολύ πιο γρήγορα από το τυπικό χώμα, που σπάνια συναντάται σε σύγχρονες επιφάνειες γηπέδων τένις. Λόγω της υφής της επιφάνειας τους, το τένις
                                    σε χωμάτινα γήπεδα θεωρείται το καλύτερο και πιο απολαυστικό, αφού η αίσθηση που προσδίδει το χώμα στη μπάλα αλλά και στην κίνηση του αθλητή μέσα στο γήπεδο είναι πολύ ξεχωριστή. Τα
                                    σερβίς υψηλής αναπήδησης, όπως είναι το topspin (περιστροφή της μπάλας που παράγεται από το χτύπημα) επηρεάζονται από το χώμα, με αποτέλεσμα να προκαλείται μεγαλύτερη αναπήδηση στη μπάλα.
                                    Αυτό συντελεί στο να έχουν μεγάλη διάρκεια οι πόντοι και να διαρκούν μεγαλύτερο χρόνο οι αγώνες, κάτι που είναι ιδανικό για τους παίκτες βασικής γραμμής που έχουν πιο αμυντικό στυλ παιχνιδιού. 
                                    Τα γήπεδα από χώμα προσφέρουν μια ελαφρώς ευκολότερη επιφάνεια για το ανθρώπινο σώμα, καθώς απορροφούν περισσότερους κραδασμούς και επιτρέπουν επίσης στους παίκτες να γλιστρήσουν μέσα στο
                                    χώμα, κάτι το οποίο έχει μια ιδιάζουσα γοητεία. Το Γαλλικό Ανοιχτό Grand Slam (French Open) είναι το μοναδικό Grand Slam που χρησιμοποιεί χωμάτινο γήπεδο. Οι επαγγελματίες Roger Federer
                                    και Rafael Nadal θεωρούνται δύο από τους καλύτερους παίκτες στα χωμάτινα γήπεδα μέχρι σήμερα.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class = "info_card row p-0 m-0">
                        <div id="grass_courts">
                            <div class="info_banner row m-0">
                                <h4>Γήπεδα με γρασίδι</h4>
                            </div>
                            <div class="info_row row m-0 p-0"><img src = "imgs/courtsPage/grass-tennis-court.jpg"></div>
                            <div class="info_row row m-0 p-0">
                                <p class = "text row">
                                    Τα γήπεδα με γρασίδι, γνωστά και ως γήπεδα με γκαζόν, ήταν κάποτε ο πιο κοινός τύπος επιφάνειας γηπέδου τένις. Ωστόσο, λόγω του υψηλού κόστους για την συντήρησή τους, τα γήπεδα με γρασίδι
                                    χρησιμοποιούνται λιγότερο συχνά από τα σκληρά γήπεδα και τα γήπεδα με χώμα. Μια επιφάνεια γρασιδιού αποτελείται από κοντό γρασίδι σε σφιχτά συσκευασμένο έδαφος και ευνοεί τις υψηλές ταχύτητες.
                                    Αυτός ο τύπος γηπέδου προσφέρει, επίσης, χαμηλές αναπηδήσεις μπάλας. Αυτό σημαίνει πως οι παίκτες που είναι καλύτεροι στο γρήγορο παιχνίδι, ειδικά αυτοί που βασίζονται στο δυνατό σερβίς τους,
                                    είναι περισσότερο ευνοημένοι. Υπάρχουν πολλοί και διαφορετικοί παράγοντες που κάνουν όλο και πιο σπάνιο αυτό το είδος γηπέδου, όπως το πώς μια μπάλα συμπεριφέρεται σε ένα γήπεδο με γρασίδι,
                                    ή το πόσο συχνά πρέπει να κουρεύεται και, γενικότερα, ό,τι αφορά τη συνολική υγεία και ποιότητα του χλοοτάπητα. Ενώ και τα τέσσερα τουρνουά Grand Slam κάποτε χρησιμοποιούσαν γήπεδα με γρασίδι,
                                    το Wimbledon είναι το μόνο που διαθέτει ακόμα ένα γήπεδο με γρασίδι.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>