<div class ="medicalFacilities_main row m-0 p-0">
            <div class = "medicalFacilities_card p-0"> 
                <div class = "medicalFacilities_banner row m-0 p-0">
                    <div id = "title">
                        <h1>
                            ΚΕΝΤΡΟ ΘΕΡΑΠΕΙΑΣ
                        </h1>
                        <h4>
                            Villia Health and Fitness Centre ┃ VILLIA TENNIS CLUB
                        </h4>
                    </div>
                </div>
                <div class = "medicalFacilities_info row p-0 m-0">
                    <div class = "info_card row p-0 m-0">
                        <div id="section">
                            <div class="info_banner row m-0">
                                <h4>Οι ιατρικές μας υπηρεσίες</h4>
                            </div>
                            <div class="info_row row m-0 p-0">
                                <p class = "text row">
                                    Το ιατρικό κέντρο μας, Villia Health and Fitness Center, βρίσκεται εσωτερικά στο κλαμπ και παρέχει στα μέλη του την τεχνογνωσία του για τη
                                    φυσική τους προετοιμασία και ανάρρωση, χάρη στα εξειδικευμένα εργαλεία και τις ανέσεις του χώρου.<br><br>
                                    Συγκεντρώσαμε πιστοποιημένους επαγγελματίες υγείας, ώστε τα μέλη μας να απολαμβάνουν τη βέλτιστη φροντίδα!<br>
                                </p>
                            </div>
                            <div class="info_row row m-0 p-0"><img src = "imgs/medicalFacilitiesPage/medical-baths.jpg"></div>
                            <div class="info_row row m-0 p-0">
                                <p class = "text row">
                                    Ζεστά και κρύα λουτρά αποκατάστασης και αποθεραπείας, φυσιοθεραπευτές, οστεοπαθητικοί, αθλητολόγοι, εσωτερική πισίνα. Έχουμε όλα τα
                                    απαραίτητα που απαιτούνται για την ιατρική περίθαλψη και την επίβλεψη των τενιστών μας.<br><br>
                                    Σε περίπτωση τραυματισμού, οι εγκαταστάσεις μας και οι επαγγελματίες υγείας θα παρέχουν την καλύτερη δυνατή ιατρική φροντίδα!<br><br>
                                    Οι ιατρικές μας εγκαταστάσεις παραμένουν ανοιχτές καθ' όλη την διάρκεια που είναι ανοιχτό το ίδιο το κλαμπ, προκειμένου να παρέχουμε πάντα
                                    την απαιτούμενη ιατρική φροντίδα στα μέλη μας.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div style="min-height: 80px;"></div>
                </div>
            </div>
        </div>