<div class ="pool_main row m-0 p-0">
            <div class = "pool_card p-0"> 
                <div class = "pool_banner row m-0 p-0">
                    <div id = "title">
                        <h1>
                            Η ΠΙΣΙΝΑ ΜΑΣ
                        </h1>
                        <h4>
                            Πισίνα ┃ VILLIA TENNIS CLUB
                        </h4>
                    </div>
                </div>
                <div class = "pool_info row p-0 m-0">
                    <div class = "info_card row p-0 m-0">
                        <div id="section">
                            <div class="info_banner row m-0">
                                <h4>Aπολαύστε κάθε ζεστή καλοκαιρινή ημέρα!</h4>
                            </div>
                            <div class="info_row row m-0 p-0">
                                <p class = "text row">
                                    Οι εγκαταστάσεις μας περιλαμβάνουν μια πισίνα διαστάσεων 10x18m και ένα μικρό pool bar. Ακολουθώντας αυστηρές προδιαγραφές υγιεινής και καθαριότητας
                                    φροντίζουμε ώστε το νερό της πισίνας μας να ανακυκλώνεται διαρκώς  με ειδικά φίλτρα και να χλωριώνεται, σε καθημερινή βάση. Η πισίνα αλλά και ο πολύ
                                    όμορφος περιβάλλων χώρος αποτελούν ιδανική επιλογή για τις καλοκαιρινές σας ειδικά αποδράσεις, αφού είναι εύκολα προσβάσιμος και κατάλληλος για παιδιά
                                    κάθε ηλικίας. Οι εγκαταστάσεις της πισίνας περιλαμβάνουν επίσης αποδυτήρια για τα μέλη μας αλλά και τους επισκέπτες μας.
                                </p>
                            </div>
                            <div class="info_row row m-0 p-0">
                                <span class = "photo1">
                                    <img src = "imgs/poolPage/pool4.jpg">
                                </span>
                                <span class= "side_text">
                                    Η πισίνα μας είναι ανοιχτή όλους τους ανοιξιάτικους και θερινούς μήνες, καθώς και το φθινόπωρο μέχρι τα μέσα Οκτωβρίου, από τις 7:00 έως τις 21:00 καθημερινά,
                                    και είναι διαθέσιμη για πάρτι και διάφορες εκδηλώσεις. Έχουμε φιλοξενήσει κατ'επαναληψη άκρως διασκεδαστικά παιδικά πάρτυ, αλλά και ιδιαίτερες δεξιώσεις που
                                    έκαναν πολύ καλή εντύπωση σε όλους τους καλεσμένους!
                                </span>
                            </div>
                            <div class="info_row row m-0 p-0">
                                <span class= "side_text" >
                                    Ανοιχτή για το κοινό καθημερινά η πισίνα μας, είναι μια πολύ δελεαστική εναλλακτική  για τις πολυσύχναστες, θορυβώδεις παραλίες, καθώς μπορείτε να αποφύγετε
                                    το μποτιλιάρισμα και το άγχος. Μπορείτε, ακόμα, να επισκεφτείτε το pool bar μας μετά από ένα απολαυστικό μπάνιο στην πισίνα και να δοκιμάσετε μια υπέροχη
                                    ποικιλία από ελαφριά σνακ, παγωτά, φρέσκους χυμούς και εντυπωσιακά κοκτέιλ.
                                </span>
                                <span class ="photo2">
                                    <img src = "imgs/poolPage/pool2.jpg">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div style="min-height: 60px;"></div>
                </div>
            </div>
        </div>